Results/maps_R2_ridge_alpha1000000.0.pdf
Results/maps_R2_ridge_stability_coarse_12_MIROC6.pdf
Results/maps_R2_ridge_stability_coarse_CanESM5_page-0001.jpg
Results/maps_R2_ridge_stability_coarse_CanESM5.pdf
Results/maps_R2_ridge_stability_coarse_CESM2.pdf
Results/maps_R2_ridge_stability_coarse_MIROC-ES2L.pdf
Results/maps_R2_ridge_stability_coarse_MIROC6_page-0001.jpg
Results/maps_R2_ridge_stability_coarse_MIROC6.pdf
Results/maps_R2_ridge_stability.pdf
Results/R2_concolution_coarse.pdf
Results/R2_ridge_stability_coarse_page-0001.jpg
Results/R2_ridge_stability_coarse.pdf
Results/R2_ridge_stability_coarse12.pdf
weights/Ridge_weights_stability_n200_coarse12.pkl
weights/Ridge_weights_stability_n500_coarse12.pkl
weights/Ridge_weights_stability_n2000_coarse12.pkl
weights/Ridge_weights_stability_n2500_coarse6.pkl
weights/Ridge_weights_stability_n2500_coarse12.pkl
weights/Ridge_weights_stability_n2500.pkl
data/CanESM5_tas_monthly.nc
data/CanESM5_tas.nc
data/CESM2_tas_monthly.nc
data/CESM2_tas.nc
data/MIROC-ES2L_tas.nc
data/MIROC6_tas_monthly.nc
data/MIROC6_tas.nc
data/MPI-ESM1-2-LR_tas_monthly.nc
data/MPI-ESM1-2-LR_tas.nc
data/u_svd_500.pkl
data/u_svd_1000.pkl
data/u_svd_1500.pkl
data/u_svd_1700.pkl
data/v_svd_500.pkl
data/weights_pca_byModels.pkl
data/weights_pca_tot.pkl
models/__pycache__/data_loader.cpython-310.pyc
data/MIROC-ES2L_tas_monthly.nc
weights/Anchor_weights_stability_n1000_coarse12.pkl
Results/maps_R2_anchor100_stability_coarse_12_MIROC6.pdf
Results/R2_anchor100_stability_coarse12.pdf
Results/maps_R2_ridge_stability_coarse_12_CanESM5.pdf
Results/maps_R2_anchor5_stability_coarse_12_CanESM5.pdf
Results/maps_R2_anchor5_stability_coarse_12_MIROC6.pdf
Results/R2_anchor5_stability_coarse12.pdf
weights/Anchor_weights_stability_n500_coarse24.pkl
weights/Anchor_weights_stability_n1000_coarse24.pkl
weights/Anchor_weights_stability_n1500_coarse6.pkl
Results/maps_R2_anchor5_stability_coarse_24_CanESM5.pdf
Results/maps_R2_anchor20_stability_coarse_24_CanESM5.pdf
Results/maps_R2_anchor20_stability_coarse_24_MIROC6.pdf
Results/R2_anchor20_stability_coarse12.pdf
Results/R2_anchor20_stability_coarse24.pdf
